
.NavBar {
    text-align: center;
    background-color: #282c34;
}

.NavBarHome {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: #282c34;
}

ul{
    display: inline-flex;
    list-style: none;
}
ul li {
    margin: 15px;
}